#API Configuration
#For local development you can use
# VITE_API_URL = http://localhost:8000/api

#Socket.io url
#For local development you can use
# VITE_SOCKET_URL = http://localhost:8000

#For production
# VITE_API_URL = https://backend.com/api
# VITE_SOCKET_URL = https://backend.com